<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @model.name %>
</p>

<p>
  <strong>Contacto:</strong>
  <%= @model.contact %>
</p>

<p>
  <strong>Email:</strong>
  <%= @model.email %>
</p>

<p>
  <strong>Identificación:</strong>
  <%= @model.identification %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @model.address %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @model.address %>
</p>

<p>
  <strong>Altura:</strong>
  <%= @model.height %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @model.weight %>
</p>

<p>
  <strong>Cabello:</strong>
  <%= @model.hair %>
</p>

<p>
  <strong>Ojos:</strong>
  <%= @model.eyes %>
</p>

<p>
  <strong>Labios:</strong>
  <%= @model.lips %>
</p>

<p>
  <strong>Nariz:</strong>
  <%= @model.nose %>
</p>

<p>
  <strong>Cumpleaños:</strong>
  <%= @model.date_of_birth %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @model.gender %>
</p>

<p>
  <strong>Habilidades:</strong>
  <%= @model.disciplines %>
</p>
<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>
