<div align="center" class="page-header">
<%= link_to "Crear nuevo", new_casting_path, class: "btn btn-success"%>
<%= link_to "Buscar", new_casting_path, class: "btn btn-success"%>
<%= link_to "Ramdom", new_casting_path, class: "btn btn-success"%>
<%= link_to "Todos", new_casting_path, class: "btn btn-success"%>
</div>


<div  class="container-castings">
<% @castings.each do |casting| %>
  <div class="col-sm-3 col-md-5">
    <div class="thumbnail">
    <span class="admin">

       <%= link_to "Editar", edit_casting_path(casting)%>
       <%= link_to "Borrar", casting, method: :delete, data: {confirm: "Estas seguro que quieres borrarlo?"} %>
    </span>

    <span class="label label-default">OFFLINE</span>
      <img src="http://images.mydoorsign.com/img/lg/S/open-abierto-sign-s-7374.png" alt="" width="5%" height="5%"> 
      <div class="caption">


        <p><a href="#" class="btn btn-primary" role="button">Aplicar</a> <a href="#" class="btn btn-default" role="button">Ver mas</a></p>
        <%= link_to "Hace " + time_ago_in_words(casting.created_at), casting %>
      </div>
    </div>
  </div>
</div>
<% end %>

<p id="notice"><%= notice %></p>
<h1>Castings:</h1>
<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Descripción</th>
      <th>Tipo de pago</th>
      <th>Ubicación</th>
      <th>Casting Terminará</th>
      <th>Vídeo</th>
      <th>Imagenes</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @castings.each do |casting| %>
      <tr>
        <td><%= casting.title %></td>
        <td><%= casting.description %></td>
        <td><%= casting.payment_type %></td>
        <td><%= casting.ubication %></td>
        <td><%= casting.casting_end %></td>
        <td><%=  %></td>
        <td><%=  %></td>
        <td><%= link_to 'Ver', casting %></td>
        <td><%= link_to 'Editar', edit_casting_path(casting) %></td>
        <td><%= link_to 'Borrar', casting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Casting', new_casting_path %>
