<p id="notice"><%= notice %></p>

<h1>Listing Proyects</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Tipo de proyecto</th>
      <th>Director</th>
      <th>Cliente</th>
      <th>Casting</th>
      <th colspan="3">Director</th>
    </tr>
  </thead>


  <tbody>
    <% @proyects.each do |proyect| %>
      <tr>
        <td><%= proyect.name %></td>
        <td><%= proyect.proyect_type %></td>
        <td><%= proyect.director %></td>
        <td><%= proyect.client %></td>
        <td align="center"><strong>01</strong></td>
        <td><%= link_to 'Show', proyect %></td>
        <td><%= link_to 'Edit', edit_proyect_path(proyect) %></td>
        <td><%= link_to 'Destroy', proyect, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proyect', new_proyect_path %>

